apiVersion: v1
kind: ConfigMap
metadata:
  name: bolt-secret
data:
  APP_SECRET: ...
  ADMIN_PASSWORD: ...
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: db-secret
data:
  DATABASE_PASSWORD: ...
  DATABASE_ROOT_PASSWORD: ...
