apiVersion: v1
kind: Secret
metadata:
  name: nextcloud
  namespace: nextcloud
stringData:
  NEXTCLOUD_ADMIN_PASSWORD: ...
---
apiVersion: v1
kind: Secret
metadata:
  name: db
  namespace: nextcloud
stringData:
  MYSQL_PASSWORD: ....
  MYSQL_ROOT_PASSWORD: ...

