apiVersion: v1
kind: Secret
metadata:
  name: bolt
  namespace: website
stringData:
  APP_SECRET: ...
  ADMIN_PASSWORD: ...
---
apiVersion: v1
kind: Secret
metadata:
  name: db
  namespace: website
stringData:
  DATABASE_PASSWORD: ...
  DATABASE_ROOT_PASSWORD: ...
