apiVersion: v1
kind: ConfigMap
metadata:
  name: nextcloud-secret
data:
  NEXTCLOUD_ADMIN_PASSWORD: ...
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: db-secret
data:
  MYSQL_PASSWORD: ...
  MYSQL_ROOT_PASSWORD: ...
